<div class="mb-20">
    <h5 class="name text-capitalize mb-0">
        orders
    </h5>
    <p class="description mt-0 text-capitalize">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis eius quidem enim ab esse illo itaque expedita corrupti quia ipsum recusandae reprehenderit alias voluptas totam, fugit qui impedit sit.
    </p>
</div>

<div class=" d-flex align-items-center justify-content-center mt-150">
    <img src="assets/images/orders-empty.svg" alt="">
</div>


<h6 class="name text-capitalize mb-0 text-center">
    You don't have any orders yet
    <br>

    <small>
        <small>
            What are you waiting for? Start shopping!        
        </small>
    </small>
</h6>

<div class="d-flex justify-content-center mt-30">
    <button routerLink="/" class="btn btn-primary text-uppercase">
        continue shopping
    </button>
</div>

