<div class="uk-position-relative uk-visible-toggle uk-light top-slider" tabindex="-1"
     uk-slideshow="ratio: 5:1; velocity: 100; animation: slide; autoplay: true; autoplay-interval: 3000">

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    <ul class="uk-slideshow-items">
      <li *ngFor="let slider of sliders">
        <a routerLink="/productfilter"><img [src]="'http://' + slider.img"></a>
      </li>  
      <!-- 'public/home_sliders/' + -->
    </ul>

    <span class="slider-btn">
        <a class="uk-position-center-left uk-position-small " href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    </span>
    <span class="slider-btn">
        <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </span>
  </div>
  
  <ul class="uk-slideshow-nav uk-dotnav uk-flex-center mt-2"></ul>

</div>
