<footer>
    <div class="upper-footer">
        <div class="shewow-container">
            <div class="row">
                <div class="col-lg-4 text-center text-lg-left">
                    <div class="here-to-help">
                        <p class="pargraph1">We’re Always Here To Help</p>
                        <p class="pargraph2">Reach out to us through any of these support channels</p>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-left">
                    <a class="help-link">
                        <div class="help-center">
                            <div class="exclamination">
                                <i class="fa fa-exclamation-circle" id="exc" aria-hidden="true"></i>
                            </div>
                            <div class="shewow-help">
                                <p class="p1">HELP CENTER</p>
                                <p class="p2">help.shewow.com</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 text-center text-lg-left">
                    <a class="support-link">
                        <div class="email-support">
                            <div class="envelope">
                                <i class="fa fa-envelope" id="env" aria-hidden="true"></i>
                            </div>
                            <div class="shewow-iraq">
                                <p class="par1">EMAIL SUPPORT</p>
                                <p class="par2">iraq@shewow.com</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-footer">
        <div class="shewow-container">
            <div class="row">
                <div class="col-md-2">
                    <div class="footer-category">
                        <h4>ELECTRONICS</h4>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-category">
                        <h4>ELECTRONICS</h4>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-category">
                        <h4>ELECTRONICS</h4>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-category">
                        <h4>ELECTRONICS</h4>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-category">
                        <h4>ELECTRONICS</h4>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-category">
                        <h4>ELECTRONICS</h4>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                        <a>
                            <div>Mobile</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="on-the-go">
                        <p>SHOP ON THE GO</p>
                        <img src="assets/android.png" alt="android">
                        <img src="assets/ios.png" alt="ios">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="socail-media">
                        <p>CONNECT WITH US</p>
                        <div class="social-media-icons">
                            <a class="s-icon">
                                <i class="fab fa-facebook-f social"></i>
                            </a>
                            <a class="s-icon">
                                <i class="fab fa-twitter social"></i>
                            </a>
                            <a class="s-icon">
                                <i class="fab fa-instagram social"></i>
                            </a>
                            <a class="s-icon">
                                <i class="fab fa-linkedin-in social"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer-container">
        <div class="bottom-footer">
            <div class="footer-container">
                <div class="payments-methods">
            <span class="master-card">
                <i class="fab fa-cc-mastercard" id="master-card-icon"></i>
            </span>
                    <span class="visa">
                <i class="fab fa-cc-visa" id="visa-icon"></i>
            </span>
                    <span class="cash">
                <i class="fas fa-money-check-alt" id="cash-icon"></i>
            </span>
                </div>
                <div class="privacy-policy">
                    <a>Careers</a>
                    <a>Warranty Policy</a>
                    <a>Sell with us</a>
                    <a>Terms of Use</a>
                    <a>Terms of Sale</a>
                    <a>Privacy Policy</a>
                </div>
                <div class="copy-rights">
                    <a>© 2020 shewow. All Rights Reserved.</a>
                </div>
            </div>
        </div>
    </div>
</footer>
