$mainColor:#FEEE00;
$bodyColor: #F7F7FA;
$bgColor: #F7F3D7;
$mutedGray: #6c757d;
$semiDark: #404553;
$semiGray:rgb(126, 133, 155);
$navbar-bg: #FCFBF4;
$grayShadow: 0 5px 4px 0 rgba(0,0,0,0.18);
$text-muted: rgba(0, 0, 0, 0.1);
$footerMuted: #7e859b;
$grayBorder: #e2e5f1;
$sideBarColor:rgb(255, 255, 255);
$blue: #3866df;
$text-muted-2: rgba(0, 0, 0, 0.3);
$light-blue: rgb(247, 249, 254);
$blue-darken: rgb(56, 102, 223);
$red-sh: rgb(206, 15, 15);
$blackColor: #212529;

$mainTransition: all .5s ;
